<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="M4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="M4_Platform___DDF_Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="M4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="M4_Platform___DDF_Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <PI.Properties.Settings>
      <setting name="TwitterUN" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitterPW" serializeAs="String">
        <value />
      </setting>
      <setting name="TweetTrades" serializeAs="String">
        <value />
      </setting>
      <setting name="LSTR" serializeAs="String">
        <value />
      </setting>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Server" serializeAs="String">
        <value>qs01.ddfplus.com</value>
      </setting>
      <setting name="TrdSymbol" serializeAs="String">
        <value />
      </setting>
      <setting name="Interval" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Bars" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="LastPos" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="Style" serializeAs="String">
        <value>WindowsVista</value>
      </setting>
      <setting name="ScanTrdSymbols" serializeAs="String">
        <value />
      </setting>
      <setting name="Script" serializeAs="String">
        <value />
      </setting>
      <setting name="Periodicity" serializeAs="String">
        <value />
      </setting>
      <setting name="oauth_token" serializeAs="String">
        <value />
      </setting>
      <setting name="oauth_secret" serializeAs="String">
        <value />
      </setting>
      <setting name="consumerSecret" serializeAs="String">
        <value>4oDfASz8t7dVlpfRcdgtQbauohZrLgVfrIwD8de5mE</value>
      </setting>
      <setting name="consumerKey" serializeAs="String">
        <value>iaSD4uobC6uYVvpKGPbYQ</value>
      </setting>
      <setting name="display_name" serializeAs="String">
        <value />
      </setting>
      <setting name="LastUpdate" serializeAs="String">
        <value />
      </setting>
      <setting name="Splitter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="InactiveFeeds" serializeAs="String">
        <value />
      </setting>
      <setting name="History" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="Refresh" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="ErrorLog" serializeAs="String">
        <value />
      </setting>
      <setting name="IndexOne2FA" serializeAs="String">
        <value />
      </setting>
      <setting name="IndexTwo2FA" serializeAs="String">
        <value />
      </setting>
      <setting name="NestDllVer" serializeAs="String">
        <value />
      </setting>
      <setting name="Answer12FA" serializeAs="String">
        <value />
      </setting>
      <setting name="Answer22FA" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="indicesIgnoreList" serializeAs="String">
        <value />
      </setting>
      <setting name="Question12FA" serializeAs="String">
        <value />
      </setting>
      <setting name="Question22FA" serializeAs="String">
        <value />
      </setting>
      <setting name="Symbol" serializeAs="String">
        <value />
      </setting>
      <setting name="ScanSymbols" serializeAs="String">
        <value />
      </setting>
      <setting name="SoundAlertEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SoundExpertAdvisorEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SoundOrderEventEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="QuickLogin" serializeAs="String">
        <value>False</value>
      </setting>
    </PI.Properties.Settings>
    <M4.Properties.Settings>
      <setting name="TwitterUN" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitterPW" serializeAs="String">
        <value />
      </setting>
      <setting name="TweetTrades" serializeAs="String">
        <value />
      </setting>
      <setting name="LSTR" serializeAs="String">
        <value />
      </setting>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="TrdSymbol" serializeAs="String">
        <value />
      </setting>
      <setting name="Interval" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Bars" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="LastPos" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="ScanTrdSymbols" serializeAs="String">
        <value />
      </setting>
      <setting name="Script" serializeAs="String">
        <value />
      </setting>
      <setting name="Periodicity" serializeAs="String">
        <value />
      </setting>
      <setting name="oauth_token" serializeAs="String">
        <value />
      </setting>
      <setting name="oauth_secret" serializeAs="String">
        <value />
      </setting>
      <setting name="consumerSecret" serializeAs="String">
        <value>4oDfASz8t7dVlpfRcdgtQbauohZrLgVfrIwD8de5mE</value>
      </setting>
      <setting name="consumerKey" serializeAs="String">
        <value>iaSD4uobC6uYVvpKGPbYQ</value>
      </setting>
      <setting name="display_name" serializeAs="String">
        <value />
      </setting>
      <setting name="LastUpdate" serializeAs="String">
        <value />
      </setting>
      <setting name="Splitter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="InactiveFeeds" serializeAs="String">
        <value />
      </setting>
      <setting name="History" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="Refresh" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="M4_modulusfe_platform_Service" serializeAs="String">
        <value />
      </setting>
      <setting name="ErrorLog" serializeAs="String">
        <value />
      </setting>
      <setting name="IndexOne2FA" serializeAs="String">
        <value />
      </setting>
      <setting name="IndexTwo2FA" serializeAs="String">
        <value />
      </setting>
      <setting name="NestDllVer" serializeAs="String">
        <value />
      </setting>
      <setting name="Answer12FA" serializeAs="String">
        <value />
      </setting>
      <setting name="Answer22FA" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="indicesIgnoreList" serializeAs="String">
        <value />
      </setting>
      <setting name="Question12FA" serializeAs="String">
        <value />
      </setting>
      <setting name="Question22FA" serializeAs="String">
        <value />
      </setting>
      <setting name="Symbol" serializeAs="String">
        <value />
      </setting>
      <setting name="ScanSymbols" serializeAs="String">
        <value />
      </setting>
      <setting name="SoundAlertEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SoundExpertAdvisorEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SoundOrderEventEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="QuickLogin" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Style" serializeAs="String">
        <value />
      </setting>
      <setting name="ActiveFeeds" serializeAs="String">
        <value>http://www.forbes.com/business/index.xml
http://www.forbes.com/markets/index.xml
http://rss.businessweek.com/bw_rss/bwdaily
http://rss.businessweek.com/bw_rss/bwdaily
http://rss.businessweek.com/bw_rss/asiaindex</value>
      </setting>
      <setting name="BacktestchartDecision" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastPositionSnapQuote" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="LastPositionOrderForm" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="BOAbsSqOffRadioBtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BOAbsSLRadioBtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BOTargetValue" serializeAs="String">
        <value />
      </setting>
      <setting name="BOStopLossValue" serializeAs="String">
        <value />
      </setting>
      <setting name="BOTrailingSLValue" serializeAs="String">
        <value />
      </setting>
      <setting name="BOTrailingSLCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BOLTPSqOffRadioBtn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BOLTPSLRadioBtn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SnapQuoteSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="Days" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ChartDaySelection" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ChartIntervalSelection" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ChartPeriodSelection" serializeAs="String">
        <value>Minute</value>
      </setting>
      <setting name="LoadDays" serializeAs="String">
        <value>1900-01-01</value>
      </setting>
      <setting name="Server" serializeAs="String">
        <value>qs01.ddfplus.com</value>
      </setting>
      <setting name="LastLocationFindSymbol" serializeAs="String">
        <value>0, 0</value>
      </setting>
    </M4.Properties.Settings>
    <M4_Platform___DDF_Data.Properties.Settings>
      <setting name="LicenseKey" serializeAs="String">
        <value/>
      </setting>
    </M4_Platform___DDF_Data.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <PI.Properties.Settings>
      <setting name="M4_modulusfe_platform_Service" serializeAs="String">
        <value>http://103.26.98.72/service.asmx</value>
      </setting>
      <setting name="M4_modulusfe_platform_data_Service" serializeAs="String">
        <value>http://platform.modulusfe.com/data/service.asmx</value>
      </setting>
    </PI.Properties.Settings>
    <M4.Properties.Settings>
      <setting name="M4_modulusfe_platform_data_Service" serializeAs="String">
        <value>http://platform.modulusfe.com/data/service.asmx</value>
      </setting>
    </M4.Properties.Settings>
    <M4_Platform___DDF_Data.Properties.Settings>
      <!--<setting name="M4_Platform___DDF_Data_modulusfe_platform_Service" serializeAs="String">
        <value>http://platform.modulusfe.com/service.asmx</value>
      </setting>-->
      <setting name="M4_Platform___DDF_Data_modulusfe_platform_Service" serializeAs="String">
        <value>http://103.26.98.72/service.asmx</value>
      </setting>
    </M4_Platform___DDF_Data.Properties.Settings>
  </applicationSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
</configuration>
